block vars

doctype html
html
	head
		link(rel='stylesheet', href='static/css/main.css')
		title Quiz | #{title}
	body
		nav
			h3 QuizApp
			a(href="/login") Login
			a(href="/register") Register
		block body