extends base

block vars
	- var title = "quiz"
	
block nav_content
		a(href="/login") Login
		a(href="/register") Register

block body
	.container
		h2 Welcome
		h3 Please #[a(href="/login") login] or #[a(href="/register") register] to view the quiz