extends base

block vars
	- var title = "insert new question"
block body
	h1 Create a new question
	form#new-question(method="post")
		h3 Qestion body
		textarea(type="text" name="body")
		h3 Option1
		input(type="text" name="option1")
		h3 Option2
		input(type="text" name="option2")
		h3 Option3 
		input(type="text" name="option3")
		h3 Correct answer(A, B or C)
		input(type="text" name="answer")
		input(type="submit")