/*set bacground color for main body*/
body{
	background: #eee;
	color: #555;
	margin: 0;
}

a{
	color: #aaa;
	text-decoration: none;
}

a:hover {
	opacity: 0.7;
}

nav {
	background: #fff;
	margin-bottom: 20px;
	width: 100%;
	height: 40px;
	padding: 20px;
}

nav h3 {
	margin: 0;
	float: left;
}

nav a {
	text-decoration: none;
	float: right;
	margin-right: 25px;
}

/*set container to take up 80% of screen, align text to center,
 set background and make the border rounded;*/
.container{
	max-width: 80%;
	text-align: center;
	margin-left: 200px;
	padding-top: 50px;
	background: #fff;
	border-radius: 2%; /*can be percentage or in pixel value*/
}

/*give the video player a red border*/
.video{
	border-radius: 2%;
	border: 20px solid #e74c3c;
}

/*override the text align center to make the questions go left*/
.question{
	margin-top: 20px;
	background: #ddd;
	text-align: left;
}

/*this is a mulitple selector, it means select all h3 inside anyting with class question*/
.question h3{
	margin-top: 30px;
	background: #eee;
	padding: 10px;
	border: 1px solid #ccc;
}

#myform{
	padding-left: 20px;
}

#myform p {
	display: block;
}

/*style the submit text by giving background color
rounder borders */
#next-q{
	padding: 10px;
	border-radius: 10%;
	background: #eee;
	color: #555;
	text-decoration: none;
}

/*these styles apply only when mouse is hovering over submit answer button*/
#next-q:hover{
	background: #fff;
	opacity: 0.7; /*changes the element's opacity (values go from 0 to 1)*/
}

.question-check{
	display: inline-block;
}

#submit-q{
	display: none;
}

/*//register page*/
.new-user{
	padding: 30px;
	background: #ccc;
}

.error{
	color: #c0392b;
}


/*dahsboard*/

.user-welcome{
	float: right;
	margin-right: 2%;
}

.user-username{
	padding: 0 5px;
}















